# Node.js
node_modules/
npm-debug.log
yarn-error.log

# macOS system files
.DS_Store

# Visual Studio
.vs/
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Java
*.class
*.jar
*.war
*.ear

# C#
bin/
obj/

# Logs and temporary files
*.log
*.out
*.bak
*.swp
*.swo

# Git's temporary files
.git/
.gitmodules
